// css biasa

// ul {
//     margin: 0;
//     padding: 0;
//     list-style: none;
// }

// ul li {
//     display: inline-block;
// }

// mixin
// simple mixin

@mixin inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
    }
    a {
        text-decoration: none
    }
}

// mixin ini berfungsi sebagai snippet yg bisa kita include isinya
// dengan nama yg dipilih sendiri contohnya tadi inline-list
// jadi misalkan kita punya 3 list namun hanya 2 yg ingin kita kasih display inline
// maka kita bisa gunakan mixin tanpa mengopy panjang dn list 2 tdk terkontaminasi

.header ul {
    @include inline-list();
    li {
        background-color: black;
        padding: 0.7em;
        a {
            color: white;
        }
    }
}

.footer ul {
    @include inline-list();
    li {
        padding: 0.4em;
        background-color: salmon;
        a {
            color: white;
        }
    }
}

// argumen pada mixin 
@mixin flex-box($direction) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: $direction;
    // row-reverse biar sejajar namun terbalik secara horizontal
}

.container {
    @include flex-box(row-reverse);
    // atau bisa juga include disini tdk dikasih argumen
    // akan tetapi include atas dikasih argumen $direction: row
    width: 600px;
    height: 400px;
    background-color: #eaea;
    .box {
        width: 60px;
        height: 60px;
        background-color: #bada55;
        text-align: center;
        line-height: 60px;
    }
}

